{% extends 'base.html' %}
{% load static %}
{% block title %}
	{{ page_title }}
{% endblock %}
{% block stat %}
	{% static "Curator/curator.css" %}
{% endblock %}
{% block content %}
	<body>
	<h1 class="title">Curator</h1>
	</br>
	<div>
		<div class="container">
			<div class='jumbotron'>
				<div class="card">
					<div class="card-header">
						<h2>Animals</h2>
					</div>
					<div class="card-body">
						<h5 class="card-title">Create or edit Animals</h5>
						<table class="table table-dark table-hover table-bordered">
							<thead>
							<tr>
								{% for name in cura_h %}
									<th scope="col">{{ name }}</th>
								{% endfor %}
							</tr>
							</thead>
							<tbody>
							{% for content in cura_r %}
								<tr>
									{% for each_row in content %}
										{% if forloop.first %}
											<th scope="row">{{ each_row }}</th>
										{% else %}
											{% if each_row == 0 %}
												<td>NEED FEED!</td>
											{% elif each_row == 1 %}
												<td>FEEDED</td>
											{% else %}
												<td>{{ each_row }}</td>
											{% endif %}
										{% endif %}
									{% endfor %}
									{#									<td class="float-right">#}
									{#										<button type="button" class="btn btn-primary">Delete</button>#}
									{#										<h1>{% url 'jobs_test' job_title actions 1 %}</h1>#}
									{#									</td>#}
								</tr>
							{% endfor %}
							</tbody>
						</table>
						<form action="{% url 'jobs_edit' job_title actions %}" method="post">
							{% csrf_token %}
							<h5>Enter a 6 digit ID from above to feed animal</h5>
							<input type="text" placeholder="6 digit ID"
								   name="animal_id">
							<td class="float-right">
								<button type="submit" class="btn btn-success">FEED</button>
							</td>
						</form>

						<form action="{% url 'jobs_delete' job_title actions %}" method="post">
							{% csrf_token %}
							<h5>Enter a 6 digit ID from above to Delete animal</h5>
							<input type="text" placeholder="6 digit ID"
								   name="animal_id">
							<td class="float-right">
								<button type="submit" class="btn btn-danger">Delete</button>
							</td>
						</form>

					</div>

				</div>

			</div>
			<div class="card">
				<div class="card-body">
					<form action="{% url 'jobs_create' job_title actions %}" method="post">
						{% csrf_token %}
						<h5>Enter a 6 digit ID for new animal</h5>
						<input type="text" placeholder="6 digit ID"
							   name="animal_id">
						<h5>Enter animal name for new animal</h5>
						<input type="text" placeholder="name"
							   name="animal_name">
						<h5>select the species for animal </h5>
						<select name="selection">
							<option selected="selected" value="emperor penguin">emperor penguin</option>
							<option value="blue whale">blue whale</option>
							<option value="spotted seal">spotted seal</option>
							<option value="bottlenose dolphin">bottlenose dolphin</option>
						</select>
						<h5>Enter facility ID for animal </h5>
						<input type="text" placeholder="6 digit ID"
							   name="facility_id"/>
						<button type="submit" class="btn btn-primary ">Create new Animals</button>
					</form>
				</div>
			</div>
		</div>
		<div>
			<div class="container">
				<div class='jumbotron'>
					<div class="card">
						<div class="card-header">
							<h2>Facility Avaible for New Animal</h2>
						</div>
						<div class="card-body">
							<table class="table table-dark table-hover table-bordered">
								<thead>
								<tr>
									{% for name in ava_h %}
										<th scope="col">{{ name }}</th>
									{% endfor %}
								</tr>
								</thead>
								<tbody>
								{% for content in ava_r %}
									<tr>
									{% for each_row in content %}
										{% if forloop.first %}
											<th scope="row">{{ each_row }}</th>
										{% else %}
											<td>{{ each_row }}</td>
										{% endif %}
									{% endfor %}
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</body>
{% endblock %}