{% extends 'base.html' %}
{% load static %}
{% block title %}
	{{ page_title }}
{% endblock %}
{% block stat %}
	{% static "Curator/curator.css" %}
{% endblock %}
{% block content %}
<body>
<body>
    <h1 class="title">Curator</h1>
  </br>

    <div>
<div class="container" >
  <div class ='jumbotron'>
    <div class="card">
        <div class="card-header">
          <h2>Animals</h2>
        </div>
        <div class="card-body">
          <h5 class="card-title">Create or edit Animals</h5> 
          <table class="table table-dark table-hover table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">a</th>
                <th scope="col">b</th>
                <th scope="col">c</th>
                <th scope="col">d</th>
                <th class="float-right">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>123</td>
                <td>123</td>
                <td>123@</td>
                <td>123@</td>
                <td class="float-right">
                    <button type="button" class="btn btn-danger">Delete</button>
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>123</td>
                <td>123</td>
                <td>@fat</td>
                <td>asd</td>
                <td class="float-right">
                    <button type="button" class="btn btn-danger">Delete</button>
                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>123</td>
                <td> 123</td>
                <td>@</td>
                <td>123</td>
                <td class="float-right">
                    <button type="button" class="btn btn-danger">Delete</button>
                </td>
                
              </tr>
              
            </tbody>
            
          </table>
          <button type="button" class="btn btn-primary ">Create new Animals</button>
        </div>
      </div>


      

  </div>

  
    


</div>





    <div>
<div class="container" >
  <div class ='jumbotron'>
    <div class="card">
        <div class="card-header">
          <h2>Facility Avaible for New Animal</h2>
        </div>
        <div class="card-body">
          <table class="table table-dark table-hover table-bordered">
            <thead>
              <tr>
                <th scope="col">Facility ID</th>
                <th scope="col">Facility Name</th>
                <th scope="col">Species</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>123</td>
                <td>123</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>123</td>
                <td>123</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>123</td>
                <td>123</td>
                
              </tr>
              
            </tbody>
            
          </table>
          
        </div>
      </div>


  </div>



</div>
</body>
{% endblock %}