{% extends 'base.html' %}
{% load static %}
{% block title %}
	{{ page_title }}
{% endblock %}

{% block css_file %}
	<link rel="stylesheet" href="{% static "Director/director.css" %}">
{% endblock %}

{% block content %}
	<body>
	<h1>{{ job_title|default:"Director" }}</h1>
	<div class="container">
		<div class='jumbotron'>
			<div class="card">
				<h5 class="card-header">view all staffs</h5>

				<table class="table table-dark table-hover table-bordered">
					<thead>
					<tr>
						{% for name in all_staff_h %}
							<th scope="col">{{ name }}</th>
						{% endfor %}
					</tr>
					</thead>
					<tbody>
					{% for content in all_staff_r %}
						<tr>
							{% for each_row in content %}
								{% if forloop.first %}
									<th scope="row">{{ each_row }}</th>
								{% else %}
									<td>{{ each_row }}</td>
								{% endif %}
							{% endfor %}
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
				<h5 class="card-header">view all events</h5>
				<table class="table table-dark table-hover table-bordered">
					<thead>
					<tr>
						{% for name in all_eve_h %}
							<th scope="col">{{ name }}</th>
						{% endfor %}
					</tr>
					</thead>
					<tbody>
					{% for content in all_eve_r %}
						<tr>
							{% for each_row in content %}
								{% if forloop.first %}
									<th scope="row">{{ each_row }}</th>
								{% else %}
									<td>{{ each_row }}</td>
								{% endif %}
							{% endfor %}
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="card">
				<div class="card-body">
					<button id="mybutton" type="button" class="btn btn-primary">Hire</button>
					<script>
                        document.getElementById("mybutton").onclick = function () {
                            location.href = "register/";
                        };
					</script>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h2>Event</h2>
					<form method="POST" action="{% url 'main_report' job_title actions %}">
						{% csrf_token %}
						<div>
							<select name="selection">
								<option selected="selected" value="exhibit">exhibit</option>
								<option value="performance">performance</option>
							</select>
							<input type='date' name="from_date" value="2022-05-02"/> <input type='date'
																							name="to_date"
																							value="2022-05-05"/>
						</div>
						<button class="btn btn-primary" type="submit">search</button>
					</form>
				</div>
			</div>

			<br>
			<div class="card">
				<h5 class="card-header">Assgined Events</h5>
				<table class="table table-dark table-hover table-bordered">
					<thead>
					<tr>
						{% for name in event_range_h %}
							<th scope="col">{{ name }}</th>
						{% endfor %}
					</tr>
					</thead>
					<tbody>
					{% for content in event_range_r %}
						<tr>
							{% for each_row in content %}
								{% if forloop.first %}
									<th scope="row">{{ each_row }}</th>
								{% else %}
									<td>{{ each_row }}</td>
								{% endif %}
							{% endfor %}
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
				<div class="card-body">
					<h5 class="card-title">Delete a Event</h5>
					<form action="{% url 'jobs_delete' job_title actions %}" method="post">
						{% csrf_token %}
						<div class="input-field">
							<input type="text" placeholder="Enter a ID from above" name="event_delete">
							<button type="submit" class="btn btn-danger md-3">Delete!</button>
						</div>
					</form>
				</div>
				<br>
				<div class="card-body">
					<form action="{% url 'jobs_create' job_title actions %}" method="post">
						{% csrf_token %}
						<div class="input-field">
							<input type="text" placeholder="Enter a 6 digit ID" name="event_id">
							<input type="text" placeholder="Enter a title" name="event_title">
							<select name="create_selection">
								<option selected="selected" value="exhibit">exhibit</option>
								<option value="performance">performance</option>
							</select>
							<input type="text" placeholder="Enter manager ID" name="event_overseer">
							<button type="submit" class="btn btn-primary md-3">Create a new event</button>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
	</div>


	</div>
	<div>
		<div class="container">
			<div class='jumbotron'>
				<div class="card">
					<div class="card-header">
						<h2>Staff</h2>
					</div>
					<div class="card-body">
						<h5 class="card-title">Curator Manage Animal</h5>
						<table class="table table-dark table-hover table-bordered">
							<thead>
							<tr>
								{% for name in animal_h %}
									<th scope="col">{{ name }}</th>
								{% endfor %}
							</tr>
							</thead>
							<tbody>
							{% for content in animal_r %}
								<tr>
									{% for each_row in content %}
										{% if forloop.first %}
											<th scope="row">{{ each_row }}</th>
										{% else %}
											<td>{{ each_row }}</td>
										{% endif %}
									{% endfor %}
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
						<h5 class="card-title">Manager Working on Event</h5>
						<table class="table table-dark table-hover table-bordered">
							<thead>
							<tr>
								{% for name in manager_h %}
									<th scope="col">{{ name }}</th>
								{% endfor %}
							</tr>
							</thead>
							<tbody>
							{% for content in manager_r %}
								<tr>
									{% for each_row in content %}
										{% if forloop.first %}
											<th scope="row">{{ each_row }}</th>
										{% else %}
											<td>{{ each_row }}</td>
										{% endif %}
									{% endfor %}
								</tr>
							{% endfor %}
							</tbody>
						</table>
						<h5 class="card-title">Aquarist Working on Facility</h5>

						<table class="table table-dark table-hover table-bordered">
							<thead>
							<tr>
								{% for name in aquarist_h %}
									<th scope="col">{{ name }}</th>
								{% endfor %}
							</tr>
							</thead>
							<tbody>
							{% for content in aquarist_r %}
								<tr>
									{% for each_row in content %}
										{% if forloop.first %}
											<th scope="row">{{ each_row }}</th>
										{% else %}
											<td>{{ each_row }}</td>
										{% endif %}
									{% endfor %}
								</tr>
							{% endfor %}
							</tbody>
						</table>
						<h5 class="card-title">Aquarist Working On Event</h5>

						<table class="table table-dark table-hover table-bordered">
							<thead>
							<tr>
								{% for name in event_h %}
									<th scope="col">{{ name }}</th>
								{% endfor %}
							</tr>
							</thead>
							<tbody>
							{% for content in event_r %}
								<tr>
									{% for each_row in content %}
										{% if forloop.first %}
											<th scope="row">{{ each_row }}</th>
										{% else %}
											<td>{{ each_row }}</td>
										{% endif %}
									{% endfor %}
								</tr>
							{% endfor %}
							</tbody>
						</table>
						<form action="{% url 'jobs_fire' job_title actions %}" method="post">
							{% csrf_token %}
							<div class="input-field">
								<input type="text" placeholder="Enter a ID from above" name="fire_delete">
								<button type="submit" class="btn btn-danger md-3">Fire!</button>
							</div>
						</form>

					</div>
				</div>

			</div>
			<button id="mybutton" type="button" class="btn btn-primary float-right"
					onclick="location.href='{% url 'jobs_edit' job_title actions %}'">Start new Day!
			</button>

		</div>
	</div>
	</body>
{% endblock %}