{% extends 'base.html' %}
{% load static %}
{% block title %}
	{{ page_title }}
{% endblock %}
{% block stat %}
	{% static "Director/director.css" %}
{% endblock %}
{% block content %}
	<body>
	<h1>{{ job_title|default:"Director" }}</h1>
	<div class="container">
		<div class='jumbotron'>
			<div class="card">
				<div class="card-header">
					<h1>Report</h1>
				</div>
				<div class="card-body">
					<h5 class="card-title">Create,edit or delete the reports</h5>
					<table class="table table-dark table-hover table-bordered">
						<thead>
						<tr>
							{% for name in main_table_header %}
								<th scope="col">{{ name }}</th>
							{% endfor %}
							<th class="float-right">Actions</th>
						</tr>
						</thead>
						<tbody>
						{% for content in main_table %}
							<tr>
								{% for each_row in content %}
									{% if forloop.first %}
										<th scope="row">{{ each_row }}</th>
									{% else %}
										<td>{{ each_row }}</td>
									{% endif %}
								{% endfor %}
								<td class="float-right">
									<button type="button" class="btn btn-primary">Edit</button>
									<button type="button" class="btn btn-danger">Delete</button>
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
					<button type="button" class="btn btn-primary">Create a new report</button>

				</div>
			</div>
		</div>
	</div>
	</body>
{% endblock %}